<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Welcome to Jake's Web World</h1>

<hl>This is the homepage, bitch</hl>

<%= link_to 'About motherfucker', about_path %>

<p>   </p>

<img src="https://i.kym-cdn.com/photos/images/original/001/081/388/616.png" alt="Kevin Smith in Huge Jorts">

<h2>Behold</h2>

<main>
  
  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  
</main>

<a href="https://www.youtube.com/watch?v=I7TUr047h7o">this links to the only youtube video one needs</a>

</body>
</html>


